{
    "enc_oauth": "ENCODED OAUTH (i don't know why i enctypted it 4 myself u can just put normal oauth and change bot_options)",
    "command_prefix": "!",
    "youtube_api_key": "YOUTUBE API KEY from google",
    "spotify_client_id": "guess what that is",
    "spotify_client_secret": "",
    "device_id":"Device id from spotify to force play/pause",
    "custom_greetings": {
        "user1":"greeting1"
    },
    "timer_messages": [
        "timer_message1"
    ]
}