{
    "bot_name":"Twitch nickname of bot",
    "oauth": "bot's oauth",
    "channel":"moderated channel",
    "youtube_api_key": "YOUTUBE API KEY from google",
    "spotify_client_id": "guess what that is",
    "spotify_client_secret": "",
    "device_id":"Device id from spotify to force play/pause",
    "custom_greetings": {
        "user1":"greeting1"
    },
    "timer_messages": [
        "timer_message1"
    ]
}
