@keyframes appear {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.chat-container .chat .msg{
    background-color:#01fff750;
    border: 4px solid #05a8a350;
    border-radius: 15px;
    animation-name: appear;
    animation-duration: 200ms;
}

.chat-container .chat{
    font:18pt 'Roboto Condensed';
    color: white;
    word-break: break-word;
    width: inherit;
    bottom: 0;
    position: absolute;
}
.chat-container{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
}
